PORT=3010
FACEIT_API_KEY=
FACEIT_BASE_URL=https://open.faceit.com/data/v4
FACEIT_WEB_BASE_URL=https://www.faceit.com
FACEIT_WEB_LOCALE=pt-br
FACEIT_WEB_COOKIE=
FACEIT_USERNAME=
FACEIT_PASSWORD=
COOKIE_AUTO_REFRESH=1
COOKIE_REFRESH_SECRET=
BROWSER_HEADLESS=1
DOWNLOAD_DEMOS=0
CACHE_TTL_SECONDS=900